body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.show {
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    margin: 0 auto;
    text-align: center;
}
a { 
    display: block; 
    text-decoration: none;
    color: #000;
}
.wrapper {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
}
.show:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.btn {
    font-size: 36px;
    color: #eee;
}